{% extends "base.html" %}
{% block content %}
    <main id="main">
      <!-- ======= Hero Slider Section ======= -->
      <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
          <div class="row">
            <div class="col-12">
              <div class="swiper sliderFeaturedPosts">
                <div class="swiper-wrapper">
                  {% for post in hero_posts %}
                    <div class="swiper-slide">
                      {% if post.post_image %}
                      <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('{{ post.post_image.url }}');">
                      {% else %}
                        {% for category in post.category.all %}
                        <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('https://source.unsplash.com/2400x1600?{{category.category_name}}');">
                        {% endfor %}
                      {% endif %}
                        <div class="img-bg-inner">
                          <h2>{{ post.title|truncatechars:50 }}</h2>
                          <p>{{ post.content|safe|truncatechars:250 }}</p>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
                <div class="custom-swiper-button-next">
                  <span class="bi-chevron-right"></span>
                </div>
                <div class="custom-swiper-button-prev">
                  <span class="bi-chevron-left"></span>
                </div>

                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero Slider Section -->

      <!-- ======= Post Grid Section ======= -->
      <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
          <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>All Posts</h2>
            <div>
              <a href="category.html" class="more">See All Posts</a>
            </div>
          </div>
          <div class="row g-5">
            <div class="col-lg-4">
              {% for post in lg_posts %}
                <a class="post-entry-1 lg" href="{% url "single_post" post.slug %}">
                  {% if post.post_image %}
                  <img src="{{ post.post_image.url }}" alt="" class="img-fluid" />
                  {% else %}
                    {% for category in post.category.all %}
                    <img src="https://source.unsplash.com/2400x1600?{{category.category_name}}" alt="" class="img-fluid" />
                    {% endfor %}
                  {% endif %}
                  <div class="post-meta">
                    {% for category in post.category.all %}
                      <span class="date">{{ category.category_name }}</span>
                    {% endfor %}
                    <span class="mx-1">&bullet;</span> <span>{{ post.created_at|date }}</span>
                  </div>
                  <h2>{{ post.title }}</h2>
                  <p class="mb-4 d-block">{{ post.content|safe|truncatechars:200}}</p>

                  <div class="d-flex align-items-center author">
                    <div class="photo">
                      <img src="assets/img/person-1.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="name">
                      <h3 class="m-0 p-0">Cameron Williamson</h3>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>

            <div class="col-lg-8">
              <div class="row g-5">
                <div class="col-lg-4 border-start custom-border">
                  {% for post in entry_posts %}
                    <div class="post-entry-1">
                      {% if post.post_image %}
                      <img src="{{ post.post_image.url }}" alt="" class="img-fluid" />     
                      {% else %}
                        {% for category in post.category.all %}  
                        <img src="https://source.unsplash.com/2400x1600?{{category.category_name}}" alt="" class="img-fluid" />
                        {% endfor %}
                      {% endif %}
                      <div class="post-meta">
                        {% for category in post.category.all %}
                          <span class="date">{{ category.category_name }}</span>
                        {% endfor %}
                        <span class="mx-1">&bullet;</span>
                        <span>{{ post.created_at|date }}</span>
                      </div>

                      <h2><a href="{% url "single_post" post.slug %}">{{ post.title }}</a></h2>
                    </div>
                  {% endfor %}
                </div>
                <div class="col-lg-4 border-start custom-border">
                  {% for post in entry2_posts %}
                    <div class="post-entry-1">
                      {% if post.post_image %}
                      <img src="{{ post.post_image.url }}" alt="" class="img-fluid" />
                      {% else %}
                        {% for category in post.category.all %}
                        <img src="https://source.unsplash.com/2400x1600?{{category.category_name}}" alt="" class="img-fluid" />
                        {% endfor %}
                      {% endif %}
                      <div class="post-meta">
                        {% for category in post.category.all %}
                          <span class="date">{{ category.category_name }}</span>
                        {% endfor %}
                        <span class="mx-1">&bullet;</span>
                        <span>{{ post.created_at|date }}</span>
                      </div>

                      <h2><a href="{% url "single-post" post.slug %}">{{ post.title }}</a></h2>
                    </div>
                  {% endfor %}
                </div>

                <!-- Trending Section -->
                <div class="col-lg-4">
                  <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
                      <li>
                        <a href="single-post.html">
                          <span class="number">1</span>
                          <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                          <span class="author">Jane Cooper</span>
                        </a>
                      </li>
                      <li>
                        <a href="single-post.html">
                          <span class="number">2</span>
                          <h3>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h3>
                          <span class="author">Wade Warren</span>
                        </a>
                      </li>
                      <li>
                        <a href="single-post.html">
                          <span class="number">3</span>
                          <h3>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h3>
                          <span class="author">Esther Howard</span>
                        </a>
                      </li>
                      <li>
                        <a href="single-post.html">
                          <span class="number">4</span>
                          <h3>9 Half-up/half-down Hairstyles for Long and Medium Hair</h3>
                          <span class="author">Cameron Williamson</span>
                        </a>
                      </li>
                      <li>
                        <a href="single-post.html">
                          <span class="number">5</span>
                          <h3>Life Insurance And Pregnancy: A Working Mom’s Guide</h3>
                          <span class="author">Jenny Wilson</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div> <!-- End Trending Section -->
              </div>
            </div>
          </div> <!-- End .row -->
        </div>
      </section>
      <!-- End Post Grid Section -->
      <!-- === category-section === -->
      <section class="category-section">
        <div class="container" data-aos="fade-up">
          <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>Categories</h2>
            <div>
              <a href="category.html" class="more">See All Categories</a>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-9">
              <div class="d-lg-flex post-entry-2">
                <a href="single-post.html" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block"><img src="assets/img/post-landscape-6.jpg" alt="" class="img-fluid" /></a>
                <div>
                  <div class="post-meta">
                    <span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                  </div>
                  <h3><a href="single-post.html">What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</a></h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>
                  <div class="d-flex align-items-center author">
                    <div class="photo">
                      <img src="assets/img/person-2.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="name">
                      <h3 class="m-0 p-0">Wade Warren</h3>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class="col-lg-4">
                  <div class="post-entry-1 border-bottom">
                    <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid" /></a>
                    <div class="post-meta">
                      <span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                    </div>
                    <h2 class="mb-2"><a href="single-post.html">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                    <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                  </div>
      
                  <div class="post-entry-1">
                    <div class="post-meta">
                      <span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                    </div>
                    <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="post-entry-1">
                    <a href="single-post.html"><img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid" /></a>
                    <div class="post-meta">
                      <span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                    </div>
                    <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                    <span class="author mb-3 d-block">Jenny Wilson</span>
                    <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-3">
              <div class="post-entry-1 border-bottom">
                <div class="post-meta">
                  <span class="date">test</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
                </div>
                <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                <span class="author mb-3 d-block">Jenny Wilson</span>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- === end category-section === -->
    </main>
    <!-- End #main -->
{% endblock content %}